.LeftPanel {
  border: solid #0099CC 1px;
  height: 100%;
  left: 0;
  position: absolute;
  width: 250px;
}

.LeftPanel__logo {
  border-bottom: solid #0099CC 1px;
  height: 100px;
}

.LeftPanel_list {
  height: calc(100% - 100px);
  overflow: auto;
}
