body {
  background-color: #cfe0e8;
}

input[type="button"]:active,
input[type="button"]:focus,
input[type="button"]:visited {
  border: none;
  outline: none;
}

.content {
  display: inline-block;
  height: 100%;
  left: 15em;
  position: absolute;
  width: 85%;
}
